* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container-fluid {
  max-width: 960px;
}

.row {
  padding-left: unset;
  padding-right: unset;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 11px;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-item .link-active:hover, .navbar-light .navbar-nav .nav-item .link-default:hover {
  opacity: 1;
  color: white;
}

.ux-design, .icon, .branding, .web-dev, .motion, .photography {
  width: 100px;
  height: 100px;
  border: 1px solid lightgrey;
  border-radius: 55px;
  margin-bottom: 1rem;
}

.works-desc {
  border: none;
  background-color: white;
  height: 472px;
  padding: 94px 80px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.works-desc h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0 0 20px;
}

.works-desc p {
  font-family: "Montserrat", sans-serif;
  color: #8c93bd;
  font-size: 14px;
  font-weight: 500;
}

.works-desc .view-project-crisp, .view-project-lifecycle, .view-project-calendar {
  width: 220px;
  height: 50px;
  padding: 16px 32px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: .688rem;
  line-height: 18px;
  letter-spacing: 1.54px;
  border-radius: 25px;
  border: none;
  color: white;
  margin-top: 4rem;
}

.works-img-crisp {
  text-align: center;
  border: none;
  height: 472px;
  padding: 94px 80px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header {
  background: linear-gradient(to top right, #450b7c, #563cc9, #49e9fb);
}

.navbar {
  padding: .5rem 2rem .5rem 2rem;
}

.nav-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  border-color: honeydew;
}

@media (min-width: 992px) {
  .navbar-expand-lg .nav-toggler {
    display: none;
  }
}

.nav-item {
  margin: 0 1rem 0 1rem;
}

.navbar-light .navbar-nav .nav-item .link-default {
  opacity: 0.7;
}

.modal-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-fullscreen .modal-header {
  border-bottom: none;
}

li.nav-item {
  text-align: center;
}

a.nav-link.link-active {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 500;
}

a.nav-link.link-default {
  color: #525962;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 500;
  opacity: .7;
}

.header-menu .nav .nav-item + .nav-item {
  margin-top: 50px;
}

li.nav-item.modal-item {
  margin: 1rem 0;
}

.guy1 {
  width: 150px;
  height: 130px;
}

.girl {
  width: 280px;
  height: 125px;
}

.boy1, .lady {
  text-align: center;
}

.char-group1 {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .boy1 {
    display: none;
  }
  .girl {
    width: 200px;
    height: 100px;
  }
  .char-group1 {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .guy1 {
    width: 120px;
    height: 100px;
  }
  .girl {
    width: 200px;
    height: 100px;
  }
  .char-group1 {
    justify-content: space-around;
  }
}

.title-text {
  text-align: center;
  color: #fff;
}

.title-text .main-title {
  font-family: 'Playfair Display', serif;
  font-size: 105px;
  letter-spacing: -1.8px;
}

.title-text p {
  font-size: 18px;
  font-family: Montserrat,sans-serif;
  font-weight: 400;
}

.title-text .button-talk {
  padding: 1.5rem 0;
}

.title-text span {
  font-size: 12px;
  color: #5238b1;
}

.title-text .talk {
  width: 220px;
  height: 50px;
  padding: 16px 32px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: .688rem;
  line-height: 18px;
  letter-spacing: 1.54px;
  border-radius: 25px;
  border: none;
}

.title-text .talk:hover {
  opacity: 80%;
}

@media (max-width: 1200px) {
  .title-text .main-title {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .title-text .main-title {
    font-size: 55px;
  }
  .title-text p {
    font-size: 14px;
    margin: auto;
    max-width: 300px;
  }
}

.contact-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  outline: 0;
}

.contact-nav .modal-dialog-scrollable {
  height: unset;
  justify-content: center;
}

.modal-dialog-centered .modal-header {
  border-bottom: none;
}

.modal-header {
  margin: 3rem 2rem;
}

.modal-body-new {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

@media (max-width: 576px) {
  .modal-fullscreen-md-down .modal-body-new {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.modal-content-new {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50% 50% 50% 50% / 10% 10% 10% 10%;
  outline: 0;
  overflow: hidden;
  height: 700px;
  width: 712px;
}

.curve {
  position: relative;
  bottom: 100px;
  height: 245px;
  right: 220px;
  transform: rotate(140deg);
}

@media (max-width: 768px) {
  .modal-content-new {
    border-radius: unset;
  }
}

.talk {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 54px;
  color: #212529;
}

.talk-p {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #757c98;
  margin-bottom: 2rem;
}

.input-control {
  font-family: Montserrat, sans-serif;
  display: block;
  width: 80%;
  padding: .375rem .75rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #959ab0;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid lightgray;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: none;
}

.form {
  position: relative;
  bottom: 250px;
  padding: 0 3rem;
}

.form .button-request {
  padding: 1.5rem 0;
}

.form span {
  font-size: 12px;
  color: #fff;
}

.form .request {
  width: 220px;
  height: 50px;
  padding: 16px 32px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: .688rem;
  line-height: 18px;
  letter-spacing: 1.54px;
  border-radius: 25px;
  border: none;
  background-color: #ef4b6c;
}

.form .request:hover {
  opacity: 80%;
}

.last-boy {
  text-align: right;
}

.boy2, .boy3 {
  text-align: center;
}

.guy2 {
  width: 100%;
  margin-top: -100px;
}

.boy3 {
  float: right;
}

.guy3 {
  width: 170px;
  height: 170px;
}

@media only screen and (max-width: 576px) {
  .guy3 {
    width: 100px;
    height: 100px;
    margin-left: 10rem;
    margin-right: 0;
  }
  .guy2 {
    margin-bottom: -52px;
  }
}

@media only screen and (min-width: 576px) {
  .guy3 {
    width: 100px;
    height: 100px;
    margin-left: 10rem;
    margin-right: 0;
  }
  .guy2 {
    margin-bottom: -48px;
  }
}

@media only screen and (min-width: 768px) {
  .guy3 {
    width: 120px;
    height: 120px;
    margin-right: 10rem;
    margin-left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .guy3 {
    width: 120px;
    height: 120px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .guy3 {
    width: 170px;
    height: 170px;
    margin-right: 0;
    margin-left: 0;
  }
}

.we-do {
  margin-bottom: 8rem;
  background-color: white;
  padding-top: 8rem;
}

.sections-heading h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  padding: 0 0 20px;
}

.sections-heading {
  margin-bottom: 5rem;
}

.sections-heading::after {
  width: 40px;
  height: 2px;
  content: "";
  position: absolute;
  left: 50%;
  background-color: #ef4b6c;
  transform: translate(-50%, 0px);
}

@media (max-width: 768px) {
  .sections-heading h1 {
    font-size: 2rem;
  }
  .sections-heading {
    margin-bottom: 3rem;
  }
}

.services-p {
  font-family: 'Lora', serif;
  color: #626881;
  padding: 0 1.5rem;
}

.services-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.service-card {
  text-align: center;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {
  .services-p {
    display: none;
  }
  .service-card {
    margin-bottom: 2rem;
  }
  .services-heading {
    font-size: 0.7rem;
    font-weight: 500;
  }
}

.clients {
  background-color: #f6f8fc;
  margin-bottom: 8rem;
  padding: 1rem 0;
}

.clients p {
  font-family: 'Lora', serif;
  color: black;
  text-align: center;
  font-size: 25px;
}

.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid transparent;
  height: 110px;
  border-radius: 16px;
  width: 180px;
  margin: 0.7rem;
}

.client-item img {
  width: 110px;
}

.content-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 992px) {
  .content-group {
    flex-direction: column;
  }
  .content-card {
    margin: 0 0.5rem;
  }
  .client-item {
    width: 100%;
    margin: 1rem auto;
  }
  .hoopsai {
    width: 60%;
    height: 70px;
  }
  .agoda {
    width: 80%;
    height: 85px;
  }
  .getsafe {
    display: none;
  }
  .grab {
    width: 100%;
    height: 100px;
  }
  .crisp {
    display: none;
  }
  .anyleads {
    display: none;
  }
  .teachable {
    width: 80%;
    height: 85px;
  }
  .flyr {
    display: none;
  }
  .roger {
    width: 60%;
    height: 70px;
  }
}

.our-works {
  margin-bottom: 8rem;
}

.works-card {
  display: flex;
  margin-bottom: 5rem;
}

.works-desc .view-project-crisp {
  background: linear-gradient(to right, #66c4f0, #4d78e9);
}

.works-desc .view-project-crisp:hover {
  opacity: 80%;
}

.works-img-crisp {
  background: linear-gradient(to bottom, #af8eff, #4f52ff);
}

.works-img-crisp img {
  width: 252px;
}

@media (max-width: 576px) {
  .works-desc {
    margin: 0;
    border-radius: 15px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
  }
  .works-img-crisp {
    margin: 0;
    border-radius: 15px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .crisp-card {
    flex-direction: column-reverse;
  }
}

@media (max-width: 992px) {
  .works-desc {
    padding: 48px 56px;
    height: 320px;
  }
  .works-desc h3 {
    font-size: 28px;
  }
  .works-img-crisp img {
    width: 199px;
  }
  .works-img-crisp {
    padding: 48px 56px;
    height: 320px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .works-desc {
    text-align: center;
    padding: 36px;
    height: 300px;
    border-radius: 15px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    margin: auto;
  }
  .works-desc .view-project-crisp {
    margin-top: 2rem;
  }
  .works-img-crisp {
    padding: 36px;
    height: 300px;
    border-radius: 15px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    margin: auto;
  }
  .crisp-card {
    flex-direction: column-reverse;
  }
}

.view-project-lifecycle {
  background: linear-gradient(to right, #a2dd98, #28d5b8);
  margin-top: 2rem;
}

.view-project-lifecycle:hover {
  opacity: 80%;
}

.works-desc-lifecycle {
  border: none;
  background-color: white;
  height: 472px;
  padding: 94px 80px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.works-desc-lifecycle h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0 0 20px;
}

.works-desc-lifecycle p {
  font-family: "Montserrat", sans-serif;
  color: #8c93bd;
  font-size: 14px;
  font-weight: 500;
}

.works-img-lifecycle {
  text-align: center;
  border: none;
  height: 472px;
  padding: 94px 80px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: linear-gradient(to bottom, #3bc5b5, #97d89b);
}

.works-img-lifecycle img {
  width: 252px;
}

@media (max-width: 576px) {
  .works-img-lifecycle {
    margin: 0;
    border-radius: 15px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .lifecycle-card {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .works-img-lifecycle img {
    width: 199px;
  }
  .works-img-lifecycle {
    padding: 48px 56px;
    height: 320px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .works-img-lifecycle {
    padding: 36px;
    height: 300px;
    border-radius: 15px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    margin: auto;
  }
  .lifecycle-card {
    flex-direction: column;
  }
}

.view-project-calendar {
  background: linear-gradient(to right, #825be5, #828ae4);
  margin-top: 2rem;
}

.view-project-calendar:hover {
  opacity: 80%;
}

.works-img-calendar {
  text-align: center;
  border: none;
  height: 472px;
  padding: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.works-img-calendar img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

@media (max-width: 576px) {
  .works-img-calendar {
    margin: 0;
    border-radius: 15px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .works-img-calendar img {
    border-radius: 15px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .calendar-card {
    flex-direction: column-reverse;
  }
}

@media (max-width: 992px) {
  .works-img-calendar img {
    width: 100%;
  }
  .works-img-calendar {
    padding: 0;
    height: 320px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .works-img-calendar {
    padding: 0;
    height: 300px;
    margin: auto;
  }
  .works-img-calendar img {
    border-radius: 15px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .calendar-card {
    flex-direction: column-reverse;
  }
}

.footer {
  padding: 5rem 0;
  background: linear-gradient(to right, #bb4bdf, #5e209d);
  color: #fff;
}

.footer .text-btn {
  text-align: center;
}

.footer .text-btn h1 {
  font-size: 55px;
  letter-spacing: 1.25px;
  font-family: Playfair Display,serif;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: .8px;
}

.footer .text-btn button {
  margin-top: 2rem;
  width: 220px;
  height: 50px;
  padding: 16px 32px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  font-size: .688rem;
  line-height: 18px;
  letter-spacing: 1.54px;
  border-radius: 25px;
  border: none;
  background-color: #f7575f;
  color: white;
}

.footer .text-btn button:hover {
  opacity: 80%;
}

.footer .social-icons {
  text-align: center;
  margin-top: 5rem;
}

.footer .social-icons a {
  text-decoration: none;
}

.footer .social-icons a:hover {
  opacity: 80%;
}

.footer .social-icons img {
  width: 45px;
  height: 45px;
  margin: 0 .8rem;
  padding: 8px;
  background-color: white;
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .footer .text-btn h1 {
    font-size: 28px;
  }
  .footer .social-icons img {
    width: 35px;
    height: 35px;
  }
}
/*# sourceMappingURL=style.css.map */